.btn1:hover{
    color: white;
    background:rgb(90, 42, 42);
}

.btn2:hover{
    color: white;
    background:rgb(216, 11, 11);
}
.btn3:hover{
    color: black;
    background:rgb(252, 135, 135);
}
body{
    background:#FFB89C;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    align-items: center;
}

h1, h2{
    background:#F69E29;

}

.link1, .link2{
    color:#DC245C;
}

.link1:hover, .link2:hover{
    color:#E68DA8;
    
}
th{
    text-align: right;;
    padding:3px;

}
td{
    text-align:left;
}
table{
    margin-left:auto;
    margin-right:auto;
    
}
th:last-child{
    text-align:center;
}




